version: '3.6'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4
    command: start-dev --import-realm
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: superDuperSecret
    volumes:
      # Map the rescued JSON file into the import folder
      - ./config/keycloak/realm-export.json:/opt/keycloak/data/import/import.json
    ports:
      - "28080:8080"
    depends_on:
      - postgres
  postgres:
    image: postgres:14
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: verySecurePasswordForDevelopment
    ports:
      - "25432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./config/postgres/initdb:/docker-entrypoint-initdb.d
volumes:
  postgres_data: