.shift-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.shift-container > * {
    flex: 1 1 150px;
}
.shift-box{
    text-align: center;
    border-radius: 4px;
    line-height: 1rem;
    font-size: 1rem;
    padding: 1rem;
}
.shift-box:hover{
    outline: 2px dashed #852121;
}