@inject DialogService DialogService
<div>
    <p>Ein Fehler ist passiert. Das ist nicht schlimm, aber wenn du Hilfe brauchst wende dich bitte an 
        <a href="@Settings.ContactHref">@Settings.Contact</a></p>
    <p style="white-space: pre-line">@Text</p>
    <RadzenButton Text="Ok" Click="() => DialogService.Close()"></RadzenButton>
</div>


@code{
    [CascadingParameter] public required ApplicationSettings Settings { get; set; }

    [Parameter] public string Text { get; set; }
}
