@using Muddi.ShiftPlanner.Shared.Contracts.v1.Responses.Seasons
@inherits UpdateDialogBase<GetSeasonResponse>
@inject ShiftService ShiftService;

<div class="row">
	<div class="col-md-4 align-items-center d-flex">
		<RadzenLabel Text="Name"/>
	</div>
	<div class="col-md-8">
		<RadzenTextBox @bind-Value="EntityToEdit.Name" Placeholder="Name"></RadzenTextBox>
	</div>
</div>
<div class="row">
	<div class="col-md-4 align-items-center d-flex">
		<RadzenLabel Text="Start from"/>
	</div>
	<div class="col-md-8">
		<RadzenDatePicker Kind="DateTimeKind.Utc" @bind-Value="EntityToEdit.StartDate"></RadzenDatePicker>
	</div>
</div>
<div class="row">
	<div class="col-md-4 align-items-center d-flex">
		<RadzenLabel Text="End at"/>
	</div>
	<div class="col-md-8">
		<RadzenDatePicker Kind="DateTimeKind.Utc" @bind-Value="EntityToEdit.EndDate"></RadzenDatePicker>
	</div>
</div>
@if (IsCreating)
{
	<div class="row mt-3">
		<div class="col-md-4 align-items-center d-flex">
			<RadzenLabel Text="Copy from"/>
		</div>
		<div class="col-md-8">
			<RadzenDropDown TValue="Guid?" @bind-Value="CopyFromSeasonId" Data="@AvailableSeasons"
			                TextProperty="Name" ValueProperty="Id" AllowClear="true"
			                Placeholder="Don't copy - start empty" Style="width: 100%"/>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<RadzenText TextStyle="TextStyle.Caption" class="text-muted">
				Copies Shift Types, Frameworks, Locations and Containers. Container dates will be adjusted to the new season.
			</RadzenText>
		</div>
	</div>
}
<div class="row mb-3 mt-4">
	<div class="col-md-12 text-right">
		<RadzenButton Click="UpdateAndClose" ButtonStyle="ButtonStyle.Success" Text="OK"/>
		<RadzenButton Click="CloseWithoutSave" ButtonStyle="ButtonStyle.Danger" Text="Abbrechen" Class="mr-1"/>
	</div>
</div>

@code {
	private Guid? CopyFromSeasonId { get; set; }
	private IReadOnlyCollection<GetSeasonResponse> AvailableSeasons { get; set; } = [];
	private bool IsCreating => EntityToEdit.Id == Guid.Empty;

	protected override async Task OnInitializedAsync()
	{
		if (IsCreating)
		{
			AvailableSeasons = await ShiftApi.GetAllSeasons();
		}
		await base.OnInitializedAsync();
	}

	protected override void OnParametersSet()
	{
		if (EntityToEdit.StartDate == default)
			EntityToEdit.StartDate = new DateTime(DateTime.UtcNow.Year, 06, 01, 0, 0, 0, DateTimeKind.Utc);
		if (EntityToEdit.EndDate == default)
			EntityToEdit.EndDate = new DateTime(DateTime.UtcNow.Year, 06, 30, 0, 0, 0, DateTimeKind.Utc);
		base.OnParametersSet();
	}

	protected override Task Create()
		=> ShiftApi.CreateSeason(new()
		{
			Name = EntityToEdit.Name,
			StartDate = new DateTime(EntityToEdit.StartDate.Ticks, DateTimeKind.Utc),
			EndDate = new DateTime(EntityToEdit.EndDate.Ticks, DateTimeKind.Utc),
			CopyFromSeasonId = CopyFromSeasonId
		});

	protected override Task Update()
		=> ShiftApi.UpdateSeason(EntityToEdit);

}