@using Muddi.ShiftPlanner.Shared.Contracts.v1.Responses
@using Muddi.ShiftPlanner.Client.Services
@inject ShiftService ShiftService;
<RadzenDataList Data="UserShifts.OrderBy(s => s.LocationId).ThenBy(s => s.Start)" AllowPaging="true" WrapItems="true" PageSize="10">
	<Template Context="c">
		<div class="d-flex justify-content-between" style="margin: 0; padding: .25rem; background: @c.Type?.Color">
			<a style="color:white" href="@($"/locations/{c.LocationId}?StartDate={c.Start:yyyy-MM-dd}")">
				@(ShiftService.GetLocationsById(c.LocationId)?.Name) - @c.Start.ToString("ddd, dd.MM. HH:mm")
			</a>
		</div>

	</Template>
</RadzenDataList>

@code{

	[Parameter]
	public MainLayout MainLayout { get; set; }

	[Parameter]
	public IEnumerable<GetShiftResponse> UserShifts { get; set; } = Enumerable.Empty<GetShiftResponse>();

}