services:
  shift-planner-api:
    restart: unless-stopped
    image: ghcr.io/muddi-markt/shiftplanner/api:v1.4
    depends_on:
      - keycloak
      - postgres
    networks:
      - shiftplanner
    ports:
      - "5280:8080"
    environment:
      Database__USER: ${MUDDI_POSTGRES_USER}
      Database__PASSWORD: ${MUDDI_POSTGRES_PASSWORD}
      Database__Name: ${MUDDI_POSTGRES_DB}
      Database__HOST: postgres
      Database__PORT: 5432
      MuddiConnect__ClientId: ${MUDDI_CLIENT_ID}
      MuddiConnect__ClientSecret: ${MUDDI_CLIENT_SECRET}
      Cors__Origins__0: https://your-client-url.com
  shift-planner-client:
    restart: unless-stopped
    image: ghcr.io/muddi-markt/shiftplanner/client:v1.4
    volumes:
      - ./config/muddi/customization:/usr/share/nginx/html/customization
      - ./config/muddi/appsettings.json:/usr/share/nginx/html/appsettings.json
      - ./config/muddi/manifest.json:/usr/share/nginx/html/manifest.json
    networks:
      - shiftplanner
    ports:
      - "5281:80"

  keycloak:
    restart: unless-stopped
    image: quay.io/keycloak/keycloak:26.4
    command: start --optimized
    environment:
      # Database
      KC_DB: postgres
      KC_DB_URL_HOST: postgresql
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: ${KEYCLOAK_POSTGRES_PASSWORD}
      
      KC_HOSTNAME_STRICT: "false"
      KC_HTTP_ENABLED: "true"
      KC_PROXY_HEADERS: xforwarded 
      
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
    depends_on:
      - postgres
    ports:
      - "28080:8080" # only for local testing
    networks:
      - shiftplanner
      
  postgres:
    image: postgres:14
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ChangeMeBetterNow
      MUDDI_POSTGRES_USER: ${MUDDI_POSTGRES_USER}
      MUDDI_POSTGRES_PASSWORD: ${MUDDI_POSTGRES_PASSWORD}
      MUDDI_POSTGRES_DB: shift_planner
      KEYCLOAK_POSTGRES_PASSWORD: ${KEYCLOAK_POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgres/data
      - ./config/postgres/initdb:/docker-entrypoint-initdb.d
    networks:
      - shiftplanner
    ports:
      - "25432:5432"

  #shift-planner-alerting:
  #  restart: unless-stopped
  #  image: ghcr.io/muddi-markt/shiftplanner/alerting:v1.4
  #  build:
  #    context: ../Muddi.ShiftPlanner.Services.Alerting
  #    dockerfile: Dockerfile
  #    target: final
  #    args:
  #      - TARGETARCH=arm64
  #  depends_on:
  #    - postgres
  #  networks:
  #    - shiftplanner

volumes:
  postgres_data:

networks:
  shiftplanner: