@page "/locations/{Id:guid}"


<h3>@_location.Name</h3>

<RadzenScheduler TItem="Shift"
                 style="height: 768px;"
                 @ref="_scheduler"
                 SlotRender=@OnSlotRender
                 Data=@Appointments
                 StartProperty="StartTime"
                 EndProperty="EndTime"
                 TextProperty="Title" 
                 TodayText="Heute"
                 SelectedIndex="1"
                 AppointmentRender=@OnAppointmentRender
                 SlotSelect="OnSlotSelect"
                 AppointmentSelect="OnShiftSelect">
    
    <RadzenDayView Text="Tag"/>
    <RadzenWeekView Text="Woche" StartTime="TimeSpan.Zero" EndTime="TimeSpan.FromHours(24)" MinutesPerSlot="30" TimeFormat="HH:mm" />
</RadzenScheduler>