@attribute [AllowAnonymous]
@page "/help"
@using System.Reflection
@using System.Text.Json
@inject IOptions<AppCustomization> AppCustomization;
<h3>Hilfe</h3>

<p>Wenn du Hilfe benötigst wendest du dich am Besten an <a href="@AppCustomization.Value.ContactHref">@AppCustomization.Value.Contact</a></p>
<p>Version: @AssemblyVersion?.ToString()</p>
<p>Programmiert mit ❤️ von Max :)</p>

@code {
    private static readonly Version? AssemblyVersion = Assembly.GetEntryAssembly()?.GetName().Version;
}