@attribute [AllowAnonymous]
@page "/help"
@using System.Reflection
@using System.Text.Encodings.Web
@using System.Text.Json
@using Muddi.ShiftPlanner.Shared.Contracts.v1
@using Muddi.ShiftPlanner.Shared.Entities
<h3>Hilfe</h3>

<p>Wenn du Hilfe benötigst wendest du dich am Besten an <a
        href="@Settings.ContactHref">@Settings.Contact</a></p>
<p>Version: @AssemblyVersion?.ToString()</p>
<p>Programmiert mit ❤️ von Max :)</p>
<AuthorizeView Roles="@ApiRoles.SuperAdmin">

    <Authorized>
        <h5>App Einstellungen (DB)</h5>
        <code>
            <pre>
                @JsonSerializer.Serialize(Settings, JsonSerializerOptions)
            </pre>
        </code>
    </Authorized>
</AuthorizeView>


@code {
    [CascadingParameter] public required ApplicationSettings Settings { get; set; }

    private static readonly JsonSerializerOptions JsonSerializerOptions = new()
    {
        WriteIndented = true,
        Encoder = JavaScriptEncoder.UnsafeRelaxedJsonEscaping,
        PropertyNamingPolicy = JsonNamingPolicy.CamelCase
    };

    private static readonly Version? AssemblyVersion = Assembly.GetEntryAssembly()?.GetName().Version;
}
