@page "/"
@attribute [Authorize]
<PageTitle>MUDDIs Schichtplanner</PageTitle>
<AuthorizeView>
	<Authorized>
		<h2>Moin @(context.User.Identity.Name)!</h2>
		<br/>
		<DisplayNextShiftsComponent/>
		<br/>
		@* Token:
		<br/>
		<br/>
		<textarea value="@_token" style="width:100%; height:400px;"/>
		*@
	</Authorized>

	<NotAuthorized>
		Du bist nicht eingeloggt!
		<a href="/authentication/login">Login</a>
	</NotAuthorized>
</AuthorizeView>