@page "/"
@attribute [Authorize]
<AuthorizeView>
	<Authorized>
		<h2>Moin @(context.User.Identity.Name)!</h2>
		<br/>
		<DisplayNextShiftsComponent/>
		<br/>
		<p>Wenn du Hilfe benötigst wendest du dich am Besten an <a href="mailto:gastro@muddimarkt.org">gastro@muddimarkt.org</a></p>
		@* Token:
		<br/>
		<br/>
		<textarea value="@_token" style="width:100%; height:400px;"/>
		*@
	</Authorized>

	<NotAuthorized>
		Du bist nicht eingeloggt!
		<a href="/authentication/login">Login</a>
	</NotAuthorized>
</AuthorizeView>