@page "/"
@using Muddi.ShiftPlanner.Client.Pages.Statistics
@using Muddi.ShiftPlanner.Shared.Entities
@attribute [Authorize]
<AuthorizeView>
	<Authorized>
		<h2>@Settings.Greeting @(context.User.Identity?.Name)!</h2>
		<br/>
		<StatisticsDashboardComponent/>
		<DisplayNextShiftsComponent/>
		<br/>
		<p>Wenn du Hilfe benötigst wendest du dich am Besten an <a href="@Settings.ContactHref">@Settings.Contact</a></p>
	</Authorized>

	<NotAuthorized>
		Du bist nicht eingeloggt!
		<a href="/authentication/login">Login</a>
	</NotAuthorized>
</AuthorizeView>

@code {
	[CascadingParameter] public required ApplicationSettings Settings { get; set; }
}
