@page "/"
@attribute [Authorize]
@inject IOptions<AppCustomization> AppCustomization;
<AuthorizeView>
	<Authorized>
		<h2>Buongiorno @(context.User.Identity?.Name)!</h2>
		<br/>
		<DisplayNextShiftsComponent/>
		<br/>
		<p>Wenn du Hilfe benötigst wendest du dich am Besten an <a href="@AppCustomization.Value.ContactHref">@AppCustomization.Value.Contact</a></p>
	</Authorized>

	<NotAuthorized>
		Du bist nicht eingeloggt!
		<a href="/authentication/login">Login</a>
	</NotAuthorized>
</AuthorizeView>