@page "/"
@attribute [Authorize]
<PageTitle>MUDDIs Schichtplanner</PageTitle>
<AuthorizeView>
	<Authorized>
		Willkommen @context.User.Identity.Name
		<br/>
		<DisplayNextShiftsComponent/>
		<br/>
		Token:
		<br/>
		<br/>
		<textarea value="@_token" style="width:100%; height:400px;"/>
	</Authorized>

	<NotAuthorized>
		Du bist nicht eingeloggt!
		<a href="/authentication/login">Login</a>
	</NotAuthorized>
</AuthorizeView>