@media (max-width: 768px) {
    .container-fluid {
        padding: 0 !important;
    }

    .rz-day-view .rz-event-content {
        font-size: 0.8rem !important;
        line-height: 0.8rem !important;
    }
}

@media (min-width: 769px) {
    .rz-event-content {
        font-size: 1rem !important;
        line-height: 1rem !important;
    }
}

.title-bar-icon {
    margin-right: 1rem;
    color: #555 !important;
}

.title-bar-icon:hover {
    color: #777 !important;
}

a:hover {
    text-decoration: none !important;
}

.rz-event {
    cursor: pointer;
}

.rz-chkbox-box.rz-state-active {
    background: var(--main-primary) !important;
}

.rz-event-content:first-line {
    line-height: 0;
}

.rz-event-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    white-space: pre-line; /* preserve line breaks */
}

.rz-event-content:hover {
    outline: 2px dashed #852121;
}

.rz-slot-hours{
    flex: 0 0 3rem !important;/* make hours width smaller, default is 5rem */
}

.rz-view-content {
    overflow: hidden !important;
}