@attribute [AllowAnonymous]
@layout PlainLayout
@page "/test"

@code {
    private string _message = "";
    private void Swipe(SwipeEvent obj)
    {
        _message = obj.ToString();
    }
}

<h1>Hello, world!</h1>

Welcome to your new app.
<div>@_message</div>
<SwipeComponent OnSwipe="Swipe">
    <img class="card-img-top" src="https://via.placeholder.com/286x180.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</SwipeComponent>