@attribute [AllowAnonymous]
@layout PlainLayout
@inject Microsoft.AspNetCore.Components.WebAssembly.Authentication.IAccessTokenProvider AccessTokenProvider
@page "/test"

@code {
	private string _message = "";
}

<h1>Dein Access Token</h1>

Token:
<br/>
<br/>
<textarea value="@_token" style="width:100%; height:400px;"/>

@code{
	private string _token;


	protected override async Task OnInitializedAsync()
	{
		var t = await AccessTokenProvider.RequestAccessToken();
		_token = t.TryGetToken(out var tok)
			? tok.Value
			: $"Failed to obtain token. Status: {t.Status}";
	}

}