@using Microsoft.AspNetCore.Components.Authorization;

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin/>
                    }
                    else
                    {
                        <p role="alert">Du hast keine Erlaubnis diese Resource zu sehen.</p>
                    }
                </NotAuthorized>
                <Authorizing>
                    <p>.......</p>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <h1>Vier-Null-Vier</h1>
                <p role="alert">Sorry, hier ist nichts. Hast du dich vielleicht verschrieben?</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>